@charset "utf-8";
/* File CSS -  Autor : L.GOERGER - Version : 1.00 - MàJ: 21.10.2019 */

/* -------------------- CSS - DRY -------------------- */
em,strong{ 
    font-style:inherit;
}

.bordure{
	border:1px red solid;
}

.texte_center{
	text-align:center;
}

.display_none, #logo_rwd,header label,#input_mobile{ 
    display:none;
}

/* -------------------- CSS - PAGE -------------------- */
html, body {
    height: 100%;
    width: 100%;
	margin: 0;
	padding: 0;
}

body{ 
    margin:0;
	padding:0;
    background-color:white;
}

/* -------------------- CSS - HEADER -------------------- */

header {
    position: fixed;
    width:100%;
    top:0;
    height:69px;
    box-shadow: 0px 3px 5px rgb(209, 206, 206);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: white;
}

#header-template-name {
    margin-left:30px;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    line-height: 15px;
}
.container {
    display: flex;
    justify-content: space-between;
    height:50px;
    width:100%;
    max-width: 1200px;
    background-color: white;
}

.container a img {
    height:50px;
    padding-left:1rem;
}

#hamburger {
    display: none;
    height:30px;
}

#navDesktop ul {
    display:flex;
    flex-direction:row;
    height:50px;
    align-items:center;
    margin:0;
}

#navDesktop li{
	display:flex;
	justify-content:center;
	align-items:center;
	height:90px;
    padding-left:20px;
    padding-right: 20px;
    font-size:0.95em;  
}

#navDesktop li a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color:black;
}

#navDesktop li a:hover {
    color: rgb(77, 77, 77);
}

#hamburgerLabel {
    display:flex;
    align-items: center;
    height: 100%;
    padding-right: 2rem;
}

.navMobile {
    opacity: 0;
    transition: top 0.8s ease;
    width: 0;
    height:0;
    position: absolute;
    top:-500px;
    width: 100%;
    z-index:-1;
}

.navMobile-visible {
    opacity: 1;
    height: auto;
    top:70px;
}

.navMobile div{
    background-color:white;
    box-shadow: 0px 3px 5px rgb(209, 206, 206);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.navMobile a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* -------------------- CSS - FOOTER -------------------- */
footer {
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align:middle;
    background-color:#E8ECEF;
    display: flex;
    align-items: center;
    color: black;
    font-family: 'Raleway', sans-serif;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 0.95rem;
}

#footer-template-a {
    text-decoration:none;
    color:black;
}

/* -------------------- CSS - BIOGRAPHIE -------------------- */
#textBiographie {
    font-size: 18px;
    max-width: 1150px;
    text-align: justify;
    font-family: 'Exo', sans-serif;
    line-height: 32px;
    color: white;
}

#biographie-text-div {
    max-width:1150px;
    display: table;
    margin: auto;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:25px;
    padding-right:25px;
    color: white;
}

#biographie-text-div2 {
    max-width:1150px;
    display: table;
    margin: auto;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:25px;
    padding-right:25px;
    color: white;
}

#biographie-text-div-box {
    width: 100%;
    background-color: #333A40;
    margin-top: -5px;
}

#headerPage {
    position: relative;
}

#headerPage img {
    width: 100%;
    margin: 0;
}

#layerBlack {
    height:99%;
    width: 100%;
    background:rgba(0,0,0,0.25);
    position: absolute;
    top:0;
    left:0;
}

.titlePage {
    width: 100%;
    position: absolute;
    bottom:4px;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlePage p {
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 1.3em;
    border-radius: 20px 20px 0px 0px;
}

#rwdBiographie {
    display: none;
}

#rwdBiographie p {
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 1.3em;
}

/* -------------------- CSS - Blog -------------------- */
.contentsBlog {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-family: 'Exo', sans-serif;
}

/* -------------------- CSS - Single Post -------------------- */
.textSinglePost {
    font-size: 18px;
    max-width: 1150px;
    text-align: justify;
    font-family: 'Exo', sans-serif;
    line-height: 32px;
    color: white;
}

.textSinglePostContent {
    font-size: 16px;
    max-width: 1150px;
    text-align: justify;
    font-family: 'Exo', sans-serif;
    line-height: 32px;
    color: white;
}

.textSinglePostContent a { 
    text-decoration: none;
    color: rgb(158, 158, 158);
}
.textSinglePostContent a:hover { 
    color:red;
}

.titleComSinglePost {
    font-size:20px;
}

#btnSubmitComm {
border:1px white solid;
background-color:#333A44;
border-radius:5px;
padding: 8px 8px 10px 10px;
color:white;
width: 100px;
cursor: pointer;
}

#btnSubmitComm:hover {
color:black;
background-color: white;
transition: ease-out 0.4s;
}

#flash {
width: 100%;
height: 45px;
vertical-align: middle;
line-height: 45px;
background: #d4edda;
color:#155724;
border-radius: 4px;
margin-bottom: 20px;
position: relative;
display: none;  
font-family: 'Exo', sans-serif;
padding-left:8px; 
}

#flash i {
position: absolute;
top : 51%;
transform: translateY(-50%);
right:15px;
cursor: pointer;
}

#barSP-1 {
margin-top:-20px;
}

#blockCommentSP {
border:1px white solid;
background-color:#333A44;
border-radius:5px;
margin-bottom: 25px;
width: 100%;
}

.blockCommentSPp {
padding-left:30px;
padding-right:30px;
}

.input-form-com {
border:1px white solid;
background-color:#333A44;
border-radius:5px;
padding: 8px 8px 10px 10px;
color:white;
width:100%;
}

/* -------------------- CSS - Login -------------------- */
#login-header-white {
    border:1px white solid;
    width: 600px;
    border-radius: 15px;
    margin-top:50px;
    margin-bottom:50px;
}

#login-header-white div {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

#login-header-white p {
    margin-top:0;
    width: 100%;
    text-align: center;
    color:black;
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    padding-top:40px;
}

#login-input {
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
    width: 90%;
    border:1px white solid;
    background-color:#333A44;
    border-radius:5px;
    padding: 10px 0px 10px 0px;
    color:white
}

.btn-login {
    margin-left:5%;
    margin-top:5%;
    margin-bottom: 5%;
}

#form-login {
    width: 100%;
}

.flash-login {
    width: 100%;
    height: 45px;
    vertical-align: middle;
    line-height: 45px;
    background: #f8d7da;
    color:#721c24;
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
    display: none;  
    font-family: 'Exo', sans-serif;
    padding-left:8px;
}

/* -------------------- CSS - Home Page -------------------- */

#voirTousLesChapitres {
    color:white;
}
#voirTousLesChapitres:hover {
    color:gray;
}

#headerHome {
    height: 100%;
    width: 100%;
    position: relative;
}

#headerHome img {
    height: 100%;
    width: 100%;
}

#headerHome div {
    width: 100%;
    padding-top:300px;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    z-index:2;
}

#headerHome div h1 {
    font-size: 60px;
    color:white;
    font-family: 'Exo', sans-serif;
}

#headerHome div h2 {
    font-size: 50px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin-top:0px;
}
#headerHome div p {
    font-size: 30px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

#headerHome div a i  {
    color:white
}

#layerHome {
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,0.3);
    position: absolute;
    top:0;
    left:0;
}

#decouvrirAuteur {
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
}

#decouvrirAuteurText {
    font-size: 16px;
    max-width: 1150px;
    text-align: justify;
    font-family: 'Exo', sans-serif;
    line-height: 32px;
    color: white;
}

#decouvrirAuteurDiv {
    margin-top:-40px;
}

#decouvrirAuteurText a {
    color:white;
    text-decoration:none;
}

#decouvrirAuteurText a:hover {
    color:gray
}

#discoverBookAnchor {
    position:absolute;
    height:1px;
    width:1px;
    top:-80px;
    border:1px solid transparent;
}

#discoverBook {
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
}

.position-relative {
    position: relative;
}

.text-center {
    text-align: center;
}

#discoverBookDiv {
    margin-top:-40px;
    margin-bottom: 20px;
}

/* -------------------- CSS - Page Error -------------------- */
#error-link-homePage {
    margin-top:100px;
    width: 100%;
    text-align: center;
}

#error-link-homePage a {
    text-decoration: none;
    color:white;
}

#error-link-homePage a:hover {
    color:gray;
}

/* -------------------- MQ - Tablette -------------------- */

@media screen and (max-width: 968px){

    #navDesktop {
        display: none;
    }
    
    #hamburger {
        display: initial;
    }

    #rwdBiographie {
        display: initial;
        
    }

    #rwdBiographie p { 
        background-color: #333A40;
        padding-top:110px;
        text-transform: uppercase;
    }

    #headerPage {
        display: none;
    }
}

/* -------------------- MQ - Mobile -------------------- */

@media screen and (max-width: 600px){
    #login-header-white {
        width:95%;
        margin-left:2.5%;
        margin-right:2.5%;
    }

    #biographie-text-div2 {
        padding: 0;
        width: 100%;
    }

    .input-form-com {
        width: 95%;
    }

    .blockCommentSPpRwd {
        padding-left:0px;
        padding-right:0px;
    }

    #headerHome div h1 {
        font-size: 35px;
    }

    #headerHome div h2 {
        font-size: 25px;
    }
    #headerHome div p {
        font-size: 20px;
    }
    #headerHome div {
        padding-top: 60%;
    }
}