{% extends "frontend/template.html" %}

{% block title %}
<title>Jean Forteroche | Le blog</title>
{% endblock %}

{% block content %}
<section id="headerPage">
    <img src="../../public/frontend/img/header/header_jean_4.jpg" alt="Image de Jean decorative">
    <div id="layerBlack"></div>
    <div class="titlePage">
        <p>Le livre</p>
    </div>
</section>

<section id="rwdBiographie">
    <p>Le livre</p>
</section>

<div id="biographie-text-div-box">
    <div id="biographie-text-div">
        {% for mesPosts in posts %}
        <div id="blockCommentSP">
            <p class="textSinglePostContent blockCommentSPp">{{ mesPosts.title }}</p>
            <div class="contentsBlog">{{ mesPosts.contents|slice(0, 580)|raw}}...</div>
            <p class="textSinglePostContent blockCommentSPp">Publié le {{ mesPosts.creationDate|date("d.m.Y")}} par {{ mesPosts.author}}</p>
            <p class="textSinglePostContent blockCommentSPp"><a href="singlepost&id={{mesPosts.id}}">Lire la suite</a></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}