{% extends "frontend/template.html" %}
{% block content %}
<div class="page-heading">
    <div class="container">
        <div class="heading-content">
            <h1>BLOG</h1>
        </div>
    </div>
</div>
<div class="blog-entries">
    <div class="container">
        <div class="col-md-9">
            <div class="blog-posts">
                <div class="row">
                    {% for mesPosts in posts %}
                    <div class="col-md-12">
                        <div class="blog-post">
                            <div class="text-content">
                                <h2>{{ mesPosts.title }}</h2>
                                <span><a href="index.php?action=author">Auteur : {{ mesPosts.author}}</a> / <a href="#">Date
                                        de publication : {{ mesPosts.creationDate|date("d m Y")}}</a></span>
                                <p>{{ mesPosts.contents|slice(0, 400)|raw}}</p>
                                <div class="simple-btn">
                                    <a href="index.php?action=singlepost&id={{mesPosts.id}}">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}