{% extends "frontend/template.html" %}

{% block title %}
<title>Jean Forteroche | Erreur(s)</title>
{% endblock %}

{% block content %}
<section id="headerPage">
    <img src="../../public/frontend/img/header/header_jean.jpg" alt="Image de Jean decorative">
    <div id="layerBlack"></div>
    <div class="titlePage">
        <p>Erreur</p>
    </div>
</section>

<section id="rwdBiographie">
    <p>Erreur</p>
</section>

<div id="biographie-text-div-box">
    <div id="biographie-text-div">
        <h1 id="error-title"> Désolé, une erreur est survenue...</h1>
        <h3 id="error-link-homePage"><a href="index.php">Retour à la page d'accueil</a></h3>
    </div> 
</div>
{% endblock %}