{% extends "frontend/template.html" %}

{% block title %}
<title>Jean Forteroche | Connexion espace administrateur</title>
{% endblock %}

{% block content %}
<section id="headerPage">
    <img src="../../public/frontend/img/header/header_jean_2.jpg" alt="Image de Jean decorative">
    <div id="layerBlack"></div>
    <div class="titlePage">
        <p>Connexion espace admin</p>
    </div>
</section>

<section id="rwdBiographie">
    <p>Connexion espace admin</p>
</section>

<div id="biographie-text-div-box">
    <div id="biographie-text-div2">
        <div id="flash" style="background: #f8d7da; color:#721c24;">
            <p id="varFlash" class="flash">{{ flash() }}</p>
            <i id="closeFlash" class="fas fa-times"></i>
        </div>
        <div id="login-header-white">
            <div>
                <p>Connexion à l'espace administrateur</p>
            </div>
            <form method="post" action="validelogin" style="width: 100%;">
                <input id="login-input" type="email" name="Email" placeholder="&nbsp;&nbsp;&nbsp;Adresse mail de connexion" required="required"><br>
                <input id="login-input" type="password" name="Password" placeholder="&nbsp;&nbsp;&nbsp;Mot de passe" required="required"><br>
                <input id="btnSubmitComm" class="btn-login" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>
{% endblock %}
