{% extends "frontend/template.html" %}
{% block content %}

   
<div class="page-heading">
    <div class="container">
        <div class="heading-content">
            <h1>{{ post.title }}</h1>
        </div>
    </div>
</div>
<div class="blog-entries">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="blog-posts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-blog-post">
                            <div class="text-content">
                                <span><a href="index.php?action=author">Auteur : {{post.author}}</a> / <a href="#">Date de publication : {{post.creationDate|date("d M Y")}}</a></span>
                                <p>{{post.contents}}</p>
                                <span><a href="index.php?action=blog">Retour au Blog</a></span>
                                <div class="tags-share">
                                    <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-content">
                                            <span><p>Commentaires :</p></span>
                                            

                                    {% for commentaire in commentaires %}
                                    {% if commentaire.alert == false %}

                                        <div style='border: 1px blue solid'>
                                            <p>AUTEUR : {{commentaire.author}}
                                            <br/>
                                            COMMENT : {{commentaire.contents}} ?></p>
                                            <a href="index.php?action=commentSignal&id={{commentaire.id}}">Signaler le commentaire</a>
                                        </div>
                                        
                                    {% endif %}
                                    {% endfor %}
                                        <p>Ajouter un commentaire : </p>
                                        <p>

                                                {{ flash() }}
                                        </p>
                                        <form method="post" action="index.php?action=postComment">
                                            <input type="text" name="author" placeholder="Auteur" required="required">
                                            <input type="hidden" name="id" value={{post.id}}>
                                            <br/>
                                            <textarea rows="5" cols="25" name="content" placeholder="Contenu du commentaire" required="required"></textarea><br>
                                            <input type="submit" id="btn-form" value="Envoyer">
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>
{% endblock %}
