<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="Blog de Jean Forteroche, auteur du livre UN BILLET SIMPLE POUR L'ALASKA. Cliquez pour découvrir son dernier livre ! ">
    <meta name="author" content="Loann GOERGER">
    <meta name="keywords" content="Blog,blog de Jean Forteroche,Jean Forteroche, un billet simple pour l'ALASKA, livre de jean Forteroche">
    <meta name="creation_date" content="21.10.2019">
    <meta name="robots" content="index, follow">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Titre -->
    {% block title %}{% endblock %}
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="public/img/icon"/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Blog de Jean Forteroche | Acteur et Écrivain">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://oc.loanngoerger.fr/projet_4/">
    <meta property="og:image" content="#">
    <meta property="og:description" content="Blog de Jean Forteroche, auteur du livre UN BILLET SIMPLE POUR L'ALASKA. Cliquez pour découvrir son dernier livre ! ">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Blog de Jean Forteroche | Acteur et Écrivain">
    <meta name="twitter:description" content="Blog de Jean Forteroche, auteur du livre UN BILLET SIMPLE POUR L'ALASKA. Cliquez pour découvrir son dernier livre ! ">
    <meta name="twitter:image" content="#">
    <!--For Ios number highlight-->
    <meta name="format-detection" content="telephone=no">
    <!-- Css -->
    <link href="../../public/frontend/css/styles.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <a href="index.php" style="margin-left:30px; font-size:18px;font-family: 'Montserrat', sans-serif;text-decoration: none;color: black;vertical-align: middle;line-height: 15px;"><p>Jean | Forteroche</p></a>
            <div id="navigation">
                <nav id="navDesktop" >
                    <ul>
                        <li><a href="index.php">Accueil</a></li>
                        <li><a href="biographie">Biographie</a></li>
                        <li><a href="blog">Le livre</a></li>
                        <li><a href="login">Se connecter</a></li>
                    </ul>
                </nav>
                <label id="hamburgerLabel">
                    <img id="hamburger" src="../../public/frontend/img/menu/menu.png" alt="Hamburger for Mobil"/>
                </label>
            </div>
            <nav class="navMobile">
                <div class="test">
                    <a class="linkMobil" href="index.php">Accueil</a>
                    <a class="linkMobil" href="biographie">Biographie</a>
                    <a class="linkMobil" href="blog">Le livre</a>
                    <a class="linkMobil" href="login">Se connecter</a>
                </div>
            </nav>
        </div>
    </header>

    <!-- Page Content -->
    {% block content %}{% endblock %}
    <!-- End Page Content -->

    <footer>
        <p>Copyright 2019 - Jean Forteroche | <a href="mentionlegales" style="text-decoration:none;color:black;">Mentions Légales</a></p>
    </footer>
    
    <!-- SCRIPT JavaScript -->
    <script src="../../public/frontend/js/main.js"></script>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/dab178ca63.js" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
</body>
</html>