{% extends "backend/template.html" %}
{% block content %}

<section id="title">
        <div>
            <p><a href="index.php?action=admin">Accueil </a></p>
            <p>&nbsp;>&nbsp;</p>
            <p>Dashboard</p>
        </div>
        <h2>Bienvenue sur le dashboard</h2>
    </section>


    <div id="flash">
        <p id="varFlash" class="flash">{{ flash() }}</p>
        <i id="closeFlash" class="fas fa-times"></i>
    </div>
       <!-- 4 bloc pour l'acceuil ?? -->
    
    <section style="width: 100%;height: 150px;display: flex; justify-content: space-around;margin-top:30px;">
        <div style="height: 150px;background-color:white;width: 300px; box-shadow: 0px 0px 3px rgb(151, 151, 151);border-radius: 4px;"></div>
        <div style="height: 150px;background-color:white;width: 300px; box-shadow: 0px 0px 3px rgb(151, 151, 151);border-radius: 4px;"></div>
        <div style="height: 150px;background-color:white;width: 300px; box-shadow: 0px 0px 3px rgb(151, 151, 151);border-radius: 4px;"></div>
        <div style="height: 150px;background-color:white;width: 300px; box-shadow: 0px 0px 3px RGB(151, 151, 151);border-radius: 4px;"></div>
    </section>

<div>
      <ul>
        
        <li><a href="index.php?action=writeNewPost">Ecrire un nouvel article</a></li>
        <li><a href="index.php?action=viewPosts">Gestion des articles</a></li>
<br>

        <li><a href="index.php?action=manageComments">Gestions des commentaires</a></li>
      </ul>
</div>
{% endblock %}