{% extends "backend/template.html" %}
{% block content %}
<h1>Bienvenue sur l'espace administrateur</h1>

<div>
      <ul>
        <p>Gestion des articles</p>
        <li><a href="index.php?action=writeNewPost">Ecrire un nouvel article</a></li>
        <li><a href="index.php?action=viewPosts">Lire les acticles</a></li>
        <li><a href="index.php?action=writeUpdatePosts">Mofidier un acticle</a></li>
        <li><a href="index.php?action=viewdelete">Supprimer un article</a></li>
        <br/><br/>
        <p>Gestion des commentaires</p>
        <li><a href="index.php?action=manageComments">Voir les commentaires signalés</a></li>
      </ul>
</div>
{% endblock %}
